In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Create new csv for all month for listings
listings_4_2020 = pd.read_csv('listings_4_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_5_2020 = pd.read_csv('listings_5_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_6_2020 = pd.read_csv('listings_6_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_10_2020 = pd.read_csv('listings_10_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_11_2020 = pd.read_csv('listings_11_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_12_2020 = pd.read_csv('listings_12_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_1_2021 = pd.read_csv('listings_1_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_2_2021 = pd.read_csv('listings_2_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
listings_3_2021 = pd.read_csv('listings_3_21.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [3]:
listings_merge = [listings_4_2020,
                 listings_5_2020,
                 listings_6_2020,
                 listings_10_2020,
                 listings_11_2020,
                 listings_12_2020,
                 listings_1_2021,
                 listings_2_2021,
                 listings_3_2021]

listings = pd.concat(listings_merge)

In [4]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,bathrooms_text,number_of_reviews_l30d
0,8521,https://www.airbnb.com/rooms/8521,20200428151650,2020-04-29,SunsplashedSerenity walk to Harvard & Fresh Pond,"An elegant, sun-splashed, 2 bedroom (+2offices...","An elegant, sun-splashed, 2+ bedroom apartment...","An elegant, sun-splashed, 2 bedroom (+2offices...",none,Huron Village is known for its charm. We have...,...,strict_14_with_grace_period,f,f,3,3,0,0,0.25,NaN,NaN
1,11169,https://www.airbnb.com/rooms/11169,20200428151650,2020-04-29,Lovely Studio Room: Thu-Mons Near Universities!,Large sunny room which comfortably fits a coup...,"We have a peaceful, large, sunny room w/ attac...",Large sunny room which comfortably fits a coup...,none,The neighborhood is quiet and friendly and our...,...,strict_14_with_grace_period,t,t,2,0,2,0,1.18,NaN,NaN
2,11945,https://www.airbnb.com/rooms/11945,20200428151650,2020-04-29,Near Harvard: Safe & Lovely Room,Room next to kitchen and living room in wonder...,"Quiet peaceful room w/shared marble bath, wifi...",Room next to kitchen and living room in wonder...,none,Amazing neighborhood: Quiet yet close walk to ...,...,strict_14_with_grace_period,t,t,2,0,2,0,0.27,NaN,NaN
3,19581,https://www.airbnb.com/rooms/19581,20200428151650,2020-04-28,"Furnished suite, Windsor","Welcome to Area IV! We are located, convenient...","Furnished suite at the Windsor Inn, Cambridge....","Welcome to Area IV! We are located, convenient...",none,NaN,...,strict_14_with_grace_period,f,f,3,0,3,0,0.05,NaN,NaN
4,22006,https://www.airbnb.com/rooms/22006,20200428151650,2020-04-29,B & B near Harvard's Quad Houses,Your choice (depending on availability) of one...,"Comfortable, convenient B&B at the north end o...",Your choice (depending on availability) of one...,none,"We're in a beautiful neighborhood, with nearby...",...,moderate,f,f,1,0,1,0,0.89,NaN,NaN

In [5]:
listings.info(108)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7866 entries, 0 to 816
Data columns (total 108 columns):
 #    Column                                        Dtype
---   ------                                        -----
 0    id                                            int64
 1    listing_url                                   object
 2    scrape_id                                     int64
 3    last_scraped                                  object
 4    name                                          object
 5    summary                                       object
 6    space                                         object
 7    description                                   object
 8    experiences_offered                           object
 9    neighborhood_overview                         object
 10   notes                                         object
 11   transit                                       object
 12   access                                        object
 13   interaction                                   object
 14   house_rules                                   object
 15   thumbnail_url                                 float64
 16   medium_url                                    float64
 17   picture_url                                   object
 18   xl_picture_url                                float64
 19   host_id                                       int64
 20   host_url                                      object
 21   host_name                                     object
 22   host_since                                    object
 23   host_location                                 object
 24   host_about                                    object
 25   host_response_time                            object
 26   host_response_rate                            object
 27   host_acceptance_rate                          object
 28   host_is_superhost                             object
 29   host_thumbnail_url                            object
 30   host_picture_url                              object
 31   host_neighbourhood                            object
 32   host_listings_count                           float64
 33   host_total_listings_count                     float64
 34   host_verifications                            object
 35   host_has_profile_pic                          object
 36   host_identity_verified                        object
 37   street                                        object
 38   neighbourhood                                 object
 39   neighbourhood_cleansed                        object
 40   neighbourhood_group_cleansed                  float64
 41   city                                          object
 42   state                                         object
 43   zipcode                                       object
 44   market                                        object
 45   smart_location                                object
 46   country_code                                  object
 47   country                                       object
 48   latitude                                      float64
 49   longitude                                     float64
 50   is_location_exact                             object
 51   property_type                                 object
 52   room_type                                     object
 53   accommodates                                  int64
 54   bathrooms                                     float64
 55   bedrooms                                      float64
 56   beds                                          float64
 57   bed_type                                      object
 58   amenities                                     object
 59   square_feet                                   float64
 60   price                                         object
 61   weekly_price                                  object
 62   monthly_price                                 object
 63   security_deposit                              object
 64   cleaning_fee                                  object
 65   guests_included                               float64
 66   extra_people                                  object
 67   minimum_nights                                int64
 68   maximum_nights                                int64
 69   minimum_minimum_nights                        int64
 70   maximum_minimum_nights                        int64
 71   minimum_maximum_nights                        int64
 72   maximum_maximum_nights                        int64
 73   minimum_nights_avg_ntm                        float64
 74   maximum_nights_avg_ntm                        float64
 75   calendar_updated                              object
 76   has_availability                              object
 77   availability_30                               int64
 78   availability_60                               int64
 79   availability_90                               int64
 80   availability_365                              int64
 81   calendar_last_scraped                         object
 82   number_of_reviews                             int64
 83   number_of_reviews_ltm                         int64
 84   first_review                                  object
 85   last_review                                   object
 86   review_scores_rating                          float64
 87   review_scores_accuracy                        float64
 88   review_scores_cleanliness                     float64
 89   review_scores_checkin                         float64
 90   review_scores_communication                   float64
 91   review_scores_location                        float64
 92   review_scores_value                           float64
 93   requires_license                              object
 94   license                                       object
 95   jurisdiction_names                            object
 96   instant_bookable                              object
 97   is_business_travel_ready                      object
 98   cancellation_policy                           object
 99   require_guest_profile_picture                 object
 100  require_guest_phone_verification              object
 101  calculated_host_listings_count                int64
 102  calculated_host_listings_count_entire_homes   int64
 103  calculated_host_listings_count_private_rooms  int64
 104  calculated_host_listings_count_shared_rooms   int64
 105  reviews_per_month                             float64
 106  bathrooms_text                                object
 107  number_of_reviews_l30d                        float64
dtypes: float64(24), int64(20), object(64)
memory usage: 6.5+ MB

In [6]:
listings['last_review'] = pd.to_datetime(listings['last_review'])
listings = listings[(listings['last_review'] >= '2020-04-01')]
listings

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,bathrooms_text,number_of_reviews_l30d
33,1193862,https://www.airbnb.com/rooms/1193862,20200428151650,2020-04-28,Middle Room in Shared Apt,If you are bringing a car you must let us know...,** Please note there has been some confusion l...,If you are bringing a car you must let us know...,none,NaN,...,flexible,f,f,3,0,3,0,1.49,NaN,NaN
34,1193875,https://www.airbnb.com/rooms/1193875,20200428151650,2020-04-28,Large Downstairs Room,If you are bringing a car you must let us know...,** Please note there has been some confusion l...,If you are bringing a car you must let us know...,none,NaN,...,strict_14_with_grace_period,f,f,3,0,3,0,1.98,NaN,NaN
38,1225831,https://www.airbnb.com/rooms/1225831,20200428151650,2020-04-28,Victorian Charm MIT/Harvard/Kendall/Central-1BR,"Welcome to our 100-year-old house! Cozy, frien...","First off, in these days of divisiveness, we s...","Welcome to our 100-year-old house! Cozy, frien...",none,"Despite our urban setting, our neighborhood is...",...,moderate,f,f,1,1,0,0,5.12,NaN,NaN
40,1307195,https://www.airbnb.com/rooms/1307195,20200428151650,2020-04-28,Harvard and MIT - Enjoy Comfort and Convenience!,Stay in the heart of Cambridge in our beautifu...,This sun filled flat is the ideal Cambridge lo...,Stay in the heart of Cambridge in our beautifu...,none,Our neighborhood is one of the most exciting i...,...,moderate,f,f,1,1,0,0,6.11,NaN,NaN
61,1984737,https://www.airbnb.com/rooms/1984737,20200428151650,2020-04-29,Charming Harvard Victorian,Charming Victorian a 10 minute walk or 5 min t...,This beautiful 125+ year old home offers appro...,Charming Victorian a 10 minute walk or 5 min t...,none,Nestled up to Harvard and surrounds the neighb...,...,flexible,t,t,2,2,0,0,4.07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,47538101,https://www.airbnb.com/rooms/47538101,20210325145911,2021-03-26,SoloPrivate Space,NaN,NaN,This Apt in the heart of Cambridge. Only 8 min...,NaN,"MIT,Harvard,downtown boston,Fenway park,airpor...",...,NaN,NaN,NaN,2,2,0,0,2.05,1 bath,2.0
777,47703691,https://www.airbnb.com/rooms/47703691,20210325145911,2021-03-25,ENTIRE APT: Bright Sun Drenched Spot in Cambri...,NaN,NaN,Located right in the heart of Inman Square in ...,NaN,Centrally located near all the best restaurant...,...,NaN,NaN,NaN,1,1,0,0,3.00,1 bath,3.0
784,48107460,https://www.airbnb.com/rooms/48107460,20210325145911,2021-03-26,I2 Private Room by Kendall Sq,NaN,NaN,"Our house is close to Harvard, MIT Kendall Squ...",NaN,NaN,...,NaN,NaN,NaN,3,0,3,0,2.00,1 shared bath,2.0
785,48108594,https://www.airbnb.com/rooms/48108594,20210325145911,2021-03-26,Private room next to MIT/Harvard 3,NaN,NaN,"Our house is close to Harvard, MIT Kendall Squ...",NaN,NaN,...,NaN,NaN,NaN,3,0,3,0,0.77,1.5 shared baths,0.0
788,48157277,https://www.airbnb.com/rooms/48157277,20210325145911,2021-03-26,Rice Street Studio,NaN,NaN,Backyard studio open to all who appreciate a c...,NaN,"Quiet, safe residential neighborhood. Located...",...,NaN,NaN,NaN,1,1,0,0,2.00,1 bath,2.0

In [7]:
list(listings.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month',
 'bathrooms_text',
 'number_of_reviews_l30d']

In [8]:
#checking the nulls for each feature
print(listings.isnull().sum().any())
listings.isnull().sum().sort_values(ascending=False)

True

neighbourhood_group_cleansed    2125
xl_picture_url                  2125
medium_url                      2125
thumbnail_url                   2125
square_feet                     2122
                                ...
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
id                                 0
Length: 108, dtype: int64

In [9]:
listings_no_nulls = set(listings.columns[listings.isnull().mean()==0]) 
print(listings_no_nulls)

{'instant_bookable', 'review_scores_checkin', 'has_availability', 'calculated_host_listings_count_shared_rooms', 'property_type', 'longitude', 'review_scores_location', 'listing_url', 'review_scores_rating', 'reviews_per_month', 'name', 'price', 'number_of_reviews', 'picture_url', 'minimum_nights_avg_ntm', 'review_scores_value', 'accommodates', 'minimum_maximum_nights', 'review_scores_cleanliness', 'calendar_last_scraped', 'maximum_maximum_nights', 'last_review', 'calculated_host_listings_count_entire_homes', 'latitude', 'calculated_host_listings_count', 'last_scraped', 'availability_30', 'id', 'host_verifications', 'host_id', 'minimum_minimum_nights', 'amenities', 'number_of_reviews_ltm', 'minimum_nights', 'review_scores_communication', 'maximum_nights_avg_ntm', 'availability_365', 'host_url', 'first_review', 'scrape_id', 'neighbourhood_cleansed', 'availability_60', 'review_scores_accuracy', 'maximum_nights', 'calculated_host_listings_count_private_rooms', 'availability_90', 'room_type', 'maximum_minimum_nights'}

In [10]:
def impute_nan_category(listings,host_name):
     listings[host_name] = np.where(listings[host_name].isnull(),"Unknown",listings[host_name])
for Columns in ['host_name']:
    impute_nan_category(listings,Columns)

In [11]:
listings.isnull().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
name                                              0
                                               ...
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                                 0
bathrooms_text                                  324
number_of_reviews_l30d                          324
Length: 108, dtype: int64

In [12]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2125 entries, 33 to 788
Columns: 108 entries, id to number_of_reviews_l30d
dtypes: datetime64[ns](1), float64(24), int64(20), object(63)
memory usage: 1.8+ MB

In [13]:
listings.describe()

,id,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,number_of_reviews_l30d
count,2.125000e+03,2.125000e+03,0.0,0.0,0.0,2.125000e+03,2120.000000,2120.000000,0.0,2125.000000,...,2125.000000,2125.000000,2125.000000,2125.000000,2125.000000,2125.000000,2125.000000,2125.000000,2125.000000,1801.000000
mean,2.349152e+07,2.020523e+13,NaN,NaN,NaN,9.126929e+07,38.018396,38.018396,NaN,42.373070,...,9.849882,9.791529,9.885176,9.334118,5.265412,2.947294,2.309647,0.008471,2.325327,0.731816
std,1.379594e+07,4.620932e+09,NaN,NaN,NaN,1.066058e+08,202.907298,202.907298,NaN,0.010102,...,0.546825,0.666895,0.447836,0.962766,5.976583,5.429140,3.401441,0.091667,1.967552,1.357585
min,8.521000e+03,2.020043e+13,NaN,NaN,NaN,3.538400e+04,0.000000,0.000000,NaN,42.355640,...,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.060000,0.000000
25%,1.316994e+07,2.020103e+13,NaN,NaN,NaN,1.257623e+07,1.000000,1.000000,NaN,42.366080,...,10.000000,10.000000,10.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.660000,0.000000
50%,2.288803e+07,2.020123e+13,NaN,NaN,NaN,4.345026e+07,3.000000,3.000000,NaN,42.370890,...,10.000000,10.000000,10.000000,9.000000,3.000000,1.000000,1.000000,0.000000,1.890000,0.000000
75%,3.371950e+07,2.021023e+13,NaN,NaN,NaN,1.377547e+08,8.000000,8.000000,NaN,42.377780,...,10.000000,10.000000,10.000000,10.000000,5.000000,2.000000,3.000000,0.000000,3.510000,1.000000
max,4.815728e+07,2.021033e+13,NaN,NaN,NaN,3.792980e+08,2210.000000,2210.000000,NaN,42.400210,...,10.000000,10.000000,10.000000,10.000000,41.000000,41.000000,23.000000,1.000000,10.860000,14.000000

In [14]:
listings.dtypes.value_counts()

object            63
float64           24
int64             20
datetime64[ns]     1
dtype: int64

In [15]:
listings.to_csv('listings.csv', index=False)

In [16]:
#Create new csv for all month for calendar
calendar_4_2020 = pd.read_csv('calendar_4_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_5_2020 = pd.read_csv('calendar_5_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_6_2020 = pd.read_csv('calendar_6_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_10_2020 = pd.read_csv('calendar_10_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_11_2020 = pd.read_csv('calendar_11_20.csv.gz', compression='gzip',
                   error_bad_lines=False)

calendar_12_2020 = pd.read_csv('calendar_12_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_1_2021 = pd.read_csv('calendar_1_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_2_2021 = pd.read_csv('calendar_2_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
calendar_3_2021 = pd.read_csv('calendar_3_21.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [17]:
#Check missing values
calendar_4_2020.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    40
maximum_nights    40
dtype: int64

In [18]:
calendar_4_2020.fillna(calendar_4_2020.mean(), inplace=True)
calendar_4_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [19]:
calendar_5_2020.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    66
maximum_nights    66
dtype: int64

In [20]:
calendar_5_2020.fillna(calendar_5_2020.mean(), inplace=True)
calendar_5_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [21]:
calendar_6_2020.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    46
maximum_nights    46
dtype: int64

In [22]:
calendar_6_2020.fillna(calendar_6_2020.mean(), inplace=True)
calendar_6_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [23]:
calendar_10_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [24]:
calendar_10_2020.fillna(calendar_10_2020.mean(), inplace=True)
calendar_10_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [25]:
calendar_11_2020.isnull().sum()

listing_id          0
date                0
available           0
price               0
adjusted_price      0
minimum_nights    381
maximum_nights    381
dtype: int64

In [26]:
calendar_11_2020.fillna(calendar_11_2020.mean(), inplace=True)
calendar_11_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [27]:
calendar_12_2020.isnull().sum()

listing_id          0
date                0
available           0
price               0
adjusted_price      0
minimum_nights    130
maximum_nights    130
dtype: int64

In [28]:
calendar_12_2020.fillna(calendar_12_2020.mean(), inplace=True)
calendar_12_2020.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [29]:
calendar_1_2021.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    31
maximum_nights    31
dtype: int64

In [30]:
calendar_1_2021.fillna(calendar_1_2021.mean(), inplace=True)
calendar_1_2021.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [31]:
calendar_2_2021.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    56
maximum_nights    56
dtype: int64

In [32]:
calendar_2_2021.fillna(calendar_2_2021.mean(), inplace=True)
calendar_2_2021.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [33]:
calendar_3_2021.isnull().sum()

listing_id         0
date               0
available          0
price              0
adjusted_price     0
minimum_nights    40
maximum_nights    40
dtype: int64

In [34]:
calendar_3_2021.fillna(calendar_3_2021.mean(), inplace=True)
calendar_3_2021.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [35]:
calendar_merge = [calendar_4_2020,
                 calendar_5_2020,
                 calendar_6_2020,
                 calendar_10_2020,
                 calendar_11_2020,
                 calendar_12_2020,
                 calendar_1_2021,
                 calendar_2_2021,
                 calendar_3_2021]

calendar = pd.concat(calendar_merge)

In [36]:
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2692752,2020-04-28,f,$95.00,$95.00,2.0,4.0
1,8521,2020-04-29,f,$220.00,$220.00,3.0,1125.0
2,8521,2020-04-30,f,$220.00,$220.00,3.0,1125.0
3,8521,2020-05-01,f,$220.00,$220.00,3.0,1125.0
4,8521,2020-05-02,f,$220.00,$220.00,3.0,1125.0

In [37]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2871204 entries, 0 to 298244
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 175.2+ MB

In [38]:
calendar['date'] = pd.to_datetime(calendar['date'])

In [39]:
calendar.isnull().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [40]:
calendar.describe()

         listing_id  minimum_nights  maximum_nights
count  2.871204e+06    2.871204e+06    2.871204e+06
mean   2.359549e+07    6.311910e+01    9.078496e+02
std    1.451527e+07    1.403835e+02    5.384361e+02
min    8.521000e+03    1.000000e+00    2.000000e+00
25%    1.112721e+07    2.000000e+00    1.124000e+03
50%    2.256716e+07    2.100000e+01    1.125000e+03
75%    3.669906e+07    9.100000e+01    1.125000e+03
max    4.882632e+07    7.300000e+02    1.125000e+04

In [41]:
calendar.dtypes.value_counts()

object            3
float64           2
int64             1
datetime64[ns]    1
dtype: int64

In [42]:
calendar.to_csv('calendar.csv', index=False)

In [43]:
#Create new csv for all month for reviews
reviews_4_2020 = pd.read_csv('reviews_4_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_5_2020 = pd.read_csv('reviews_5_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_6_2020 = pd.read_csv('reviews_6_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_10_2020 = pd.read_csv('reviews_10_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_11_2020 = pd.read_csv('reviews_11_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_12_2020 = pd.read_csv('reviews_12_20.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_1_2021 = pd.read_csv('reviews_1_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_2_2021 = pd.read_csv('reviews_2_21.csv.gz', compression='gzip',
                   error_bad_lines=False)
reviews_3_2021 = pd.read_csv('reviews_3_21.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [44]:
reviews_merge = [reviews_4_2020,
                 reviews_5_2020,
                 reviews_6_2020,
                 reviews_10_2020,
                 reviews_11_2020,
                 reviews_12_2020,
                 reviews_1_2021,
                 reviews_2_2021,
                 reviews_3_2021]

reviews = pd.concat(reviews_merge)

In [45]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,8521,6009,2009-07-23,25629,Mara,This is a fabulous apartment! Great neighborh...
1,8521,6386,2009-07-30,26357,Stephanie,"Wonderful host and hostess, great home, locati..."
2,8521,6910163,2013-08-30,5747319,Lynette,We had a delightful 2 week stay in Cambridge. ...
3,8521,37307811,2015-07-06,27670573,Salina,We had a great time during our short stay in C...
4,8521,38475589,2015-07-16,10811805,Benoni,Janet's place is as beautiful as portrayed. Ni...

In [46]:
reviews['date'] = pd.to_datetime(reviews['date'])
reviews = reviews[(reviews['date'] >= '2020-04-01')]
reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments
4460,1193862,621542692,2020-04-01,311828181,Abdul-Malik,Great place located just walking distance to w...
4461,1193862,623029446,2020-04-24,80613198,Amna,Adam is unique also his place same.\nHis respo...
4625,1193875,621536604,2020-04-01,338157108,Tara,Great host and location!
5246,1225831,621605392,2020-04-02,78318060,Mary,Paul and Larry went above and beyond to make u...
5785,1307195,622121374,2020-04-10,342837713,认证手机用户0077,nice host
...,...,...,...,...,...,...
38900,48107460,735358877,2021-02-28,384320002,Chris,Great host
38901,48107460,737787496,2021-03-09,302602887,Michael,There's plenty of amenities to make your stay ...
38902,48108594,731994744,2021-02-16,25590954,Rachid,"The host “john” unprofessional, disrespectful,..."
38903,48157277,738077507,2021-03-11,6146936,Jeannette,"This was a relaxing, quiet studio, beautifully..."
38904,48157277,741124738,2021-03-21,334258996,Francesca,Great spot. Very responsive and location is cl...

In [47]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14536 entries, 4460 to 38904
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     14536 non-null  int64
 1   id             14536 non-null  int64
 2   date           14536 non-null  datetime64[ns]
 3   reviewer_id    14536 non-null  int64
 4   reviewer_name  14536 non-null  object
 5   comments       14469 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 794.9+ KB

In [48]:
reviews.isnull().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         67
dtype: int64

In [49]:
def impute_nan_category(reviews,comments):
     reviews[comments] = np.where(reviews[comments].isnull(),"Unknown",reviews[comments])
for Columns in ['comments']:
    impute_nan_category(reviews,Columns)

In [50]:
reviews.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [51]:
reviews.dtypes.value_counts()

int64             3
object            2
datetime64[ns]    1
dtype: int64

In [52]:
reviews.to_csv('reviews.csv', index=False)